<template>
  <v-app id="inspire">
    <!--router-link to="/">Loading</router-link>
	<router-link to="/install">Install</router-link>
	<router-link to="/recovery">Recovery</router-link>
	<router-link to="/booting">Booting</router-link-->

    <v-content>
      <transition name="fade" mode="out-in" appear>
        <router-view />
      </transition>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "app",
  components: {}
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
