<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex x12 sm6 md3>
        <v-card raised>
          <v-toolbar flat dark color="primary">
            <v-icon>hourglass_empty</v-icon>
            <v-toolbar-title>Booting</v-toolbar-title>
          </v-toolbar>

          <v-container fluid fill-height style="height:220px">
            <v-layout align-center justify-center>
              <v-progress-circular
                :size="150"
                :width="10"
                :value="progress"
                :indeterminate="timeout == 0"
                color="primary"
              >
                <v-layout justify-center>
                  <h1 class="black--text">{{ timeout }}s</h1>
                </v-layout>
              </v-progress-circular>
            </v-layout>
          </v-container>

          <v-card-text>
            <p class="text-xs-center" v-html="message"></p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      timeout: this.$store.getters.redirectTimeout,
      maxtime: this.$store.getters.redirectTimeout,
      redirectTo: this.$store.getters.redirect
    };
  },

  created() {
    // console.log("start interval", this.timeout);
    var interval = setInterval(this.countdown, 1000);
    this.$store.commit("setTimer", interval);
  },

  computed: {
    message() {
      return "Please wait until the system boot finishes. This page will reload automatically.";
    },

    icon() {
      return "sd_storage";
    },

    state() {
      return this.$store.getters.state;
    },

    waiting() {
      return this.$store.getters.waiting;
    },

    progress() {
      return (this.timeout / this.maxtime) * 100;
    }
  },

  methods: {
    countdown() {
      if (this.timeout) {
        this.timeout--;
      }
      this.redirect();
    },

    redirect() {
      if (this.maxtime - this.timeout < this.maxtime / 2) return;

      this.$http
        .get(this.redirectTo)
        .then(() => {
          //   console.log("Redirect success");
          window.location.href = this.redirectTo;
          this.$store.commit("clearTimer");
        })
        .catch(() => {
          //   console.warn("Redirect not ready");
        });
    }
  }
};
</script>

<style scoped></style>
