<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex x12 sm6 md3>
        <v-card raised>
          <v-toolbar flat dark color="primary">
            <v-icon>sd_storage</v-icon>
            <v-toolbar-title>Installation wizard</v-toolbar-title>
          </v-toolbar>

          <v-container fluid fill-height style="height:220px">
            <v-layout align-center justify-center>
              <v-progress-circular
                :size="150"
                :width="10"
                :value="progress"
                :indeterminate="waiting"
                color="primary"
              >
                <v-layout align-center justify-center>
                  <v-icon size="60">{{ icon }}</v-icon>
                </v-layout>
              </v-progress-circular>
            </v-layout>
          </v-container>

          <v-card-text>
            <v-layout justify-center>
              <span class="text-xs-center" v-html="message"></span>
            </v-layout>
          </v-card-text>

          <v-layout justify-center v-if="showButtons">
            <v-card-actions>
              <v-btn flat @click="install" color="primary" :disabled="waiting"
                >Install</v-btn
              >
            </v-card-actions>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    this.$store.commit("clearTimer");

    return {};
  },

  computed: {
    message() {
      switch (this.$store.getters.state) {
        case "welcome":
          return "Welcome to the Colibri-Linux installation wizard. It will guide you through the setup and configuration process.<br>To start press the <strong>INSTALL</strong> button below.";
        case "formatting":
          return "Preparing sdcard partitions for system installation...";
        case "copying":
          return "Copying system files...";
        case "finalizing":
          return "Finalizing system setup...";
        case "done":
          return "Installtion complete.";
      }
      return "";
    },

    icon() {
      if (this.waiting) return "hourglass_empty";

      switch (this.$store.getters.state) {
        case "welcome":
          return "file_download";
        case "formatting":
          return "sd_storage";
        case "copying":
          return "insert_drive_file";
        case "finalizing":
          return "widgets";
        case "done":
          return "done";
      }
      return "sd_storage";
    },

    state() {
      return this.$store.getters.state;
    },

    showButtons() {
      return this.$store.getters.state == "welcome";
    },

    progress() {
      return this.$store.getters.progress;
    },

    waiting() {
      return this.$store.getters.waiting;
    }
  },

  methods: {
    install() {
      this.$store.commit("setWaiting", true);
      this.$socket.send("do:install");
    }
  }
};
</script>

<style scoped></style>
