<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex x12 sm8 md4>
        <p class="text-xs-center">
          <img src="/img/colibri_linux_logo.png" />
          <v-progress-linear indeterminate></v-progress-linear>
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    this.$store.commit("clearTimer");

    return {};
  }
};
</script>

<style scoped></style>
